@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";
.service-info {
    .title2 {
        font-size: 24px;
        font-weight: 100;
        color: $theme-secondary;
        margin-left: 125px;
        @include mobile {
            margin-left: 0;
        }
    }
    .para {
        margin-left: 125px;
        max-width: 300px;
        font-size: 40px;
        color: #391400;
        font-weight: 500;
        @include mobile {
            margin-left: 0;
        }
    }
    .card-container {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #f3d1bf;
        flex-wrap: wrap;
        padding-bottom: 50px;
        .card {
            border: 1px solid #f3d1bf;
            max-width: 391px;
            background-color: $theme-light-yellow;
            padding: 80px 20px 50px 50px;
            &:hover {
                background-color: $white;
                transition: all 1s;
            }
            .card-body {
                .icon {
                    color: $theme-secondary;
                    font-size: 60px;
                }
                .title3 {
                    margin-top: 20px;
                    color: #391400;
                    font-size: 24px;
                }
                .description {
                    line-height: 2.5;
                    max-width: 294px;
                    color: #707070;
                    font-size: 16px;
                }
                a {
                    color: #391400;
                    font-size: 16px;
                    // font-weight: 100;
                }
            }
        }
    }
}