@import "../../styles/variables/colors";
.project-datails-section {
    background-color: $theme-light-yellow;
    padding: 50px 0;
    .project-details {
        width: 60%;
        .title {
            .anticon {
                color: #391400;
            }
            .back-link {
                color: #391400;
            }
        }
        .title1 {
            font-size: 72px;
            max-width: 386px;
        }
        .sub-title {
            font-size: 18px;
            font-weight: 100;
            display: block;
            max-width: 570px;
        }
        .description {
            max-width: 570px;
        }
        .project-info {
            display: flex;
            justify-content: flex-start;
            max-width: 570px;
            .info_data {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .title {
                    text-align: center;
                    color: $theme-secondary;
                }
                .category {
                    .lists {}
                }
            }
        }
    }
}