@import "../../styles/variables/colors";
.portfolio-intro {
    padding: 90px 0;
    // height: 1000px;
    .title2 {
        text-align: center;
        font-weight: 100;
        color: $theme-secondary;
    }
    .title1 {
        text-align: center;
        font-size: 52px;
        color: $white;
    }
    .work-lists {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 100px;
        li {
            font-size: 16px;
        }
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        background-color: transparent;
        padding: 20px 0;
        .portfolio-card {
            cursor: pointer;
        }
    }
}

.btn_group {
    button {
        border: none;
        border-radius: 5px;
        outline: none;
        margin: 0 20px;
        padding: 5px 20px;
        &:active {
            background-color: $theme-secondary;
            color: white;
        }
    }
    .active {
        background-color: $theme-secondary;
        color: white;
    }
}

.portfolio_container {
    flex-wrap: wrap;
    padding-top: 50px;
    .portfolio-card {
        cursor: pointer;
    }
}