@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";
.about-page {
    .card-container {
        // height: 500px;
        background-color: $theme-light-yellow;
        .cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 55px;
            padding: 45px 0;
            border-bottom: 2px solid #f3d1bf;
        }
    }
    .about-hero-section {
        background-color: $theme-light-yellow;
        .bio {
            background-color: $theme-light-yellow;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 150px;
            padding: 90px 0;
            .thumbs {
                width: 70%;
            }
            .studio {
                .title2 {
                    margin: 0;
                }
                .title1 {
                    color: $theme-primary-dark;
                }
                .description {
                    color: $shadowColor;
                    max-width: 70%;
                }
                .btns {
                    li {
                        box-shadow: $primaryshadow;
                        background-color: $white;
                        a {
                            color: $shadowColor !important;
                        }
                    }
                }
            }
        }
        .hero-cards {
            .container {
                display: flex;
                justify-content: center;
                gap: 135px;
                .card {
                    padding: 30px 0 30px 30px;
                    font-size: 40px;
                    min-width: 391px;
                    border: 1px solid #f3d1bf;
                    .title1 {
                        font-weight: 100;
                        color: #391400;
                    }
                    .description {
                        font-size: 20px;
                        font-weight: 300;
                        color: #391400;
                    }
                }
            }
        }
    }
    // How we work????????
    .how-work-section {
        background-color: $theme-light-yellow;
    }
    // Feature-section
    .feature-section {
        background-color: $theme-light-yellow;
    }
    /* Service-intro */
    .service-intro-section {
        background-color: $theme-light-yellow;
    }
    /* Service-info */
    .service-data {
        background-color: $theme-light-yellow;
        padding-bottom: 125px;
    }
    // Portfolio-intro
    .portfolio-intro-section {
        background-color: $theme-primary;
    }
    // Future-Events
    .future-events-section {
        background-color: $theme-primary;
    }
    // Our_team
    .our-team-section {
        background-color: $theme-primary;
    }
    // .testimonial-section
    .testimonial-section {
        background-color: #fdf0e9;
    }
    //     {/* FAQ_Section */}
    .faq-section {
        background-color: #fdf0e9;
    }
    // Our_Award_Section
    .our-award-section {
        background-color: #fdf0e9;
    }
    // our_blog_pages
    .our-blog-section {
        background-color: #fdf0e9;
    }
    /* New_letter */
    .news-letter-section {
        background-color: #fdf0e9;
    }
}