@import "../../styles/variables/colors";
.contact_form {
    background-color: $theme-light-yellow;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .title1 {
        color: $theme-secondary;
    }
    form {
        width: 500px;
        .fullName {
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
                font-size: 20px;
                font-weight: 500;
                input {
                    border-radius: 5px;
                    width: 100%;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    background-color: $white;
                    padding: 10px;
                    &::placeholder {
                        font-size: 15px;
                        font-weight: 300;
                        color: $gray-a;
                    }
                }
            }
            .msg {
                textarea {
                    background-color: $white;
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 5px;
                    &::placeholder {
                        color: $gray-a;
                    }
                }
            }
            button {
                background-color: $theme-secondary;
                border: none;
                outline: none;
                padding: 5px;
                border-radius: 5px;
                font-size: 20px;
                color: $white;
                cursor: pointer;
            }
        }
    }
}