@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";
.features {
    display: flex;
    padding: 90px 0;
    gap: 150px;
    @include mobile {
        gap: 20px;
        flex-direction: column;
    }
    @include tablet {
        gap: 10px;
        flex-direction: column;
    }
    .business-features {
        .title2 {
            font-size: 16px;
            font-weight: 100;
            color: $theme-secondary;
        }
        .title1 {
            font-size: 72px;
            font-weight: 400;
            max-width: 560px;
            color: #391400;
            @include mobile {
                font-size: 40px;
            }
            @include tablet {
                max-width: 100%;
            }
        }
        .description {
            font-size: 16px;
            font-weight: 100;
            margin-bottom: 50px;
            max-width: 390px;
        }
        .feature-lists {
            .list {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
                .icon {
                    color: $theme-secondary;
                    font-size: 30px;
                }
                li {
                    font-size: 16px;
                    color: $gray-1;
                }
            }
        }
    }
    .thumb {
        max-width: 100%;
        @include tablet {
            max-width: 90%;
        }
        img {
            width: 100%;
            width: 100%;
        }
    }
}

// featureData
.featureData {
    padding: 60px 0;
    // border-bottom: 1px solid #f3d1bf;
}