@import "../../styles/variables/colors";
.contact_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text_info {
        padding: 0 45px;
        .title {
            font-size: 56px;
            max-width: 329px;
            color: $white;
        }
        .description {
            font-size: 16px;
            max-width: 470px;
            color: $white;
            font-weight: 100;
        }
        .contact_btn {
            .ant-btn {
                border-radius: 5px;
                padding: 7px 9px;
                a {
                    color: $black;
                }
            }
        }
    }
}