@import "../../styles/variables/colors";
.card-swiper {
    background-color: $theme-primary;
    position: relative;
    .title2 {
        text-align: center;
        color: $theme-secondary;
        font-weight: 100;
    }
    .title {
        text-align: center;
        font-size: 32px;
        color: $white;
    }
    .card-slider {
        padding: 90px 0;
        overflow: hidden;
        position: relative;
        .flickity-button {
            // position: absolute;
            // top: 0;
            // // right: 50px;
        }
        .flickity-page-dots {
            display: flex;
            gap: 25px;
            justify-content: center;
            .dot {
                background-color: transparent;
                width: 12px;
                height: 12px;
                opacity: 1;
                border-radius: 50px;
                border: 1px solid gray;
                cursor: pointer;
            }
            .is-selected {
                background-color: $theme-secondary;
            }
        }
    }
}