.card {
    background-color: transparent !important;
    cursor: pointer;
    .card-body {
        .blog_img {
            overflow: hidden;
            max-width: 370px;
            img {
                border-radius: 10px;
                width: 100%;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}