@import "../../../styles/variables/colors";
.navbar {
    background-color: $theme-primary;
    .navbar-nav {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        gap: 50px;
        a {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            position: relative;
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    bottom: -10px;
                    left: 0;
                    background-color: $theme-secondary;
                    width: 100%;
                }
            }
        }
    }
    .navbar-collapse {
        justify-content: center;
    }
    .active {
        position: relative;
        &::before {
            content: "";
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $theme-secondary;
            width: 100%;
            position: absolute;
        }
    }
}