.our_awards {
    .title2 {
        text-align: center;
    }
    .award_items {
        display: flex;
        flex-direction: column;
        .award_item {
            display: flex;
            justify-content: space-between;
            .award_present {
                display: flex;
                align-items: center;
                max-width: 5%;
                gap: 30px;
                img {
                    max-width: 100%;
                }
            }
            .award_symbol {
                display: flex;
                align-items: center;
                .description {
                    margin: 0;
                }
                img {
                    width: 40px;
                    height: 40px;
                    margin-left: 20px;
                }
            }
        }
    }
}